html {
  height: 100%;
  background: black;
}
.add-button{
  height: 10%;
  width: 100%;
  margin: 20px;
  position: absolute;
bottom:   0;
}
body {
  height: inherit;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

@media (orientation: landscape) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
